html,
body {
    background-color: black;
    padding: 0;
    margin: 0;

    .dot {
        border: 1px solid #333;

        svg {
            visibility: hidden;
        }

        &--arricor {
            width: 600px;
            height: 600px;

        }
    }
}